*,*::before, *::after {
    margin: 0;
    padding: 0;
}
.top-container {
    background-image: url("https://images.unsplash.com/photo-1508161250369-a7ecbdfb67fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 2px;
}
.top-container h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
.text {
    font-family: sans-serif;
    font-size: 17px;
    margin: 50px 5%;
}
.navbar {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.4s;
}
.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    margin:0 20px;
    font-family: sans-serif;
    color: black;
}
.navbar ul li a:hover {
    color: gray;
}
.navbar.active {
    background-color: black;

}
.navbar.active ul li a {
    color: white;
}